@import url("https://fonts.googleapis.com/css2?family=Lora&display=swap");

* {
  scroll-behavior: smooth;
}

.fontStyle {
  font-family: "Lora", serif;
}

.progLang img {
  border: 1px solid rgba(0, 0, 0, 0.1);
  padding: 10px;
  background: rgb(246, 247, 245);
  border-radius: 10px;
}

.projects {
  cursor: pointer;
  z-index: 1;
}

/* .projects:hover {
  filter: grayscale(0%);
  transition: 0.5s ease-in;
} */
